/* CSS for the tab area at the top including conditionals */
  
#ie-test-topArea {
    position: relative;
    width: 100%;
}

#boxLinks-topTabs {
    list-style: none;
    overflow: hidden;
}

#boxLinks-topTabs li {  
    display: inline;
}

#boxLinks-topTabs li a {
	padding-left:13px;
	padding-top: 5px;
    text-decoration: none;
    border: 1px solid #ccc;
    float: left; 
	display: block;
    position:relative;
    width:212px;
	height:20px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    border: 1px solid #A6A6A6;
    background: #26466D;
    color: #fff;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#boxLinks-topTabs li a:hover {
    background: #ccc;
    color: #26466D;
}

#box-topTabs {
    height: 300px;
    border-bottom: 1px solid #A6A6A6;
    overflow: hidden;
    position: relative;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 14px;
    width:680px;
    background-color:#EDEDED;
    margin-bottom: 50px;
    /*top: -1px; */
}

.box-topTabs {
    display: none;
    height: 300px;
    overflow: auto;
    display: block;
    position: relative;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 5px;
    
}

.box1-topTabs{    
    display: none;
    height: 300px;
    overflow: auto;
    display: block;
    position: relative;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 5px;
}

/* CSS for main content tabs including conditionals */

* {
    margin: 0;
    padding: 0;
}
        
#ie-test {
    position: relative;
    width: 100%;
}

#boxLinks-bottomTabs {
    list-style: none;
    overflow: hidden;
    margin-left: 8px;
}

#boxLinks-bottomTabs li {  
    display: inline;
}

#boxLinks-bottomTabs li a {
    padding-left:13px;
	padding-top: 5px;
    text-decoration: none;
    border: 1px solid #A6A6A6;
    float: left; 
	display: block;
    position:relative;
    width:233px;
	height:20px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    background: #26466D;;
    color: #ffffff;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#boxLinks-bottomTabs li a:hover {
    background: #ccc;
    color: #26466D;
}

#box-bottomTabs {
    height: 400px;
    overflow: hidden;
    padding: 0px 30px 0px 30p;
    position: relative;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 14px;
    background-color:#EDEDED;
    margin-left: 8px;
    /*top: -1px; */
}
    
.box-bottomTabs {
    display: none;
    height: 400px;
    overflow: auto;
    display: block;
    position: relative;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 5px;
	background-color:#EDEDED;
    
}

#box1:target,
#box2:target,
#box3:target,
#box4:target {
    display: block;
}

.box1-bottomTabs {    
    display: none;
    height: 400px;
    overflow: auto;
    display: block;
    position: relative;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 5px;
	background-color:#EDEDED;
}
