/*new navigation area*/
      ul#nav {
	list-style-type: none;
	float:right;
	font-family: "Arial", Gadget, sans-serif;
	font-size:14px;
}
    
      ul#nav > li {
		float: left;
		margin-right: 1px; /* 5/16 */
		position: relative;
	}
      ul#nav li:first-child { margin-left: 0; }
		ul#nav li:hover ul { left: 0; /* On hover, we make the submenu visible again */ }	
      /* Persistent hover state, exactly the same style as the inner anchor on hover (.dark:hover) */
		ul#nav li:hover a {
			background-color: #7a8497;
			color: white;
		}  		
	ul#nav li.v-sep {
		border-right: 1px solid #3f4551;
		margin-right: 10px; /* 10/16 */
		padding-right: 10px; /* 10/16 */
	}
      ul#nav li ul {
		list-style-type: none;
		position: absolute;
		z-index: 999;
		margin-top: -2px;
		left: -9999px;
 
	}
      ul#nav li ul li a {
			color: white;
			padding: 2px 0px 2px 3px;
			border-top: 1px solid #6a7282;
			background: #5d6677 url('../images/menu-indicator.png') no-repeat right center;
			display: block;
			width: 178px;
			white-space: nowrap;
		}
      
      ul#nav li ul li:last-child a {
				border-bottom-right-radius: 5px; /* 5/16 */
				border-bottom-left-radius: 5px; /* 5/16 */
			}
      
      ul#nav li ul li a:hover { background-color: #26466D; }
      
      div#top-bar {
	background-color: #ffffff;
	padding: 5px 0; /* 10/16 */
}
      
      .button {
	padding:5px; /* 10/12 */
	
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
}
      
      .dark {
	background-color: #26466D;
	color: white;
    border-top-right-radius: 5px; /* 5/16 */
    border-top-left-radius: 5px; /* 5/16 */
	border-bottom-right-radius: 5px; /* 5/16 */
    border-bottom-left-radius: 5px; /* 5/16 */
        
}
	.dark:hover {
		background-color: #5d6677;
		color: white;
	}
	
	
/* ---------- MENU BUTTONS ---------- */
	
.menu-settings { background-image: url("../images/icons/menu/menu-settings.png"); }
	.menu-settings:hover { background-image: url("../images/icons/menu/menu-settings-over.png"); }

.menu-logoff { background-image: url("../images/icons/menu/menu-logoff.png"); }
	.menu-logoff:hover { background-image: url("../images/icons/menu/menu-logoff-over.png"); }

.menu-user { background-image: url("../images/icons/menu/menu-user.png"); }
.ic-left-arrow { background-image: url("../images/icons/ic_left.png"); 
}

.image-left {
	background-position: 8px center; /* 10/12 */
	padding-left: 40px; /* 36/12 */
}

.image-right {
	background-position: right center;
	padding-right: 40px; /* 36/12 */
}

